em {
    background-color: rgb(172, 223, 79);
    color: rgb(0, 0, 0);
}

strong {
    font-weight: bold; color: rgb(10, 10, 10);
}

p {
    border: 3px solid rgb(0, 0, 0); font-family: "Helvetica" ; background-color: black; border-radius: 5cm; border-width: 15cm;
}

h1 {
    color: rgb(0, 0, 0);  
}

h1 {
	font-family: "Helvetica"; font-size: 200%; 
}

h2 {
    color: rgb(255, 255, 255); font-family: "Helvetica"; padding-left: 620px; font-size: 250%; margin-bottom: 100px; background-color: black;
}

body {
    color:rgb(8, 8, 8)
}

::backdrop {
    color:rgb(8, 184, 131)
}
h1 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
  }
 
  p {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; font-size: 500%;
  }

  h2 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; font-size: 500%;
  }

  body {
    margin: 10vh auto; background-color: rgb(173, 15, 147);
  }