em {
    background-color: rgb(172, 223, 79);
    color: rgb(0, 0, 0);
}

strong {
    font-weight: bold;
}

p {
    border: 1px solid rgb(0, 0, 0); font-family: "Helvetica" ;
}

h1 {
    color: rgb(155, 221, 79);
     margin-block-start: 10cm; 
    
}

h1 {
	font-family: "Helvetica"; font-size: 500%; padding-left: 400px; background-color: black;
}

h2 {
    color: rgb(255, 255, 255); font-family: "Helvetica"; padding-left: 620px; font-size: 250%; margin-bottom: 100px; background-color: black;
}