

strong {
    font-weight: bold;
}

p {
    border: 0px solid rgb(0, 0, 0); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Geneva, Tahoma, sans-serif  ; padding-left: 620px;
}

h1 {
    color: rgb(35, 34, 126); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


h2 {
    color: rgb(25, 27, 146); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; padding-left: 620px; font-size: 2000%; margin-bottom: 100px; background-size: 1px; font-weight:900;
}